<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982157364721-0k6b9olrr1urbrso7jqmafrf3a77d9co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982157364721-0k6b9olrr1urbrso7jqmafrf3a77d9co</string>
	<key>API_KEY</key>
	<string>AIzaSyAa58xV_xYweXTPO8IQeA4esga6BKFceQY</string>
	<key>GCM_SENDER_ID</key>
	<string>982157364721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ciclo4b</string>
	<key>PROJECT_ID</key>
	<string>ces-app-d27d4</string>
	<key>STORAGE_BUCKET</key>
	<string>ces-app-d27d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982157364721:ios:23a25b6ab298289b250850</string>
</dict>
</plist>